$color-gray: #B1B1B1;
$color-black: #222222;
$color-red: #FF645E;
$color-blue: #C3E9F4;

.ab-calculator {
  all: initial;
  display: block;
  box-sizing: border-box;
  font-family: 'OpenSans', Tahoma, Arial, serif;
  padding: 10px;
  padding-bottom: 15px;
  width: 580px;
  height: 190px;
  position: relative;
  color: $color-black;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10), 0px 1px 1px 0px rgba(0,0,0,0.05);
  border-radius: 3px;
  overflow: hidden;

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
  }

  p {
    margin: 0;
  }

  &__field {
    border: 0;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    box-shadow: 0 0 0 2px rgba(92, 217, 253, 0.1);
    transition: box-shadow .3s;
    display: inline-block;
    width: 100%;
    padding-left: 12px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(92, 217, 253, 0.5);
    }
  }

  &__data {
    width: 330px;
    position: relative;
    margin-top: 20px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 35px;
      height: 39px;
      background: #BDFFA4;
      background-image: linear-gradient(-122deg, #BDFFA4 0%, #E0FFBE 100%);
      border-radius: 2px;
      z-index: 0;
      opacity: 0;
      transition: opacity .3s;

      .is-winner-a & {
        opacity: 1;
        top: 35px;
      }

      .is-winner-b & {
        opacity: 1;
        top: 83px;
      }
    }
  }

  &__table {
    table-layout: fixed;
    width: 100%;
    position: relative;

    td, th {
      text-align: center;
      padding: 0 5px;
    }

    th {
      color: $color-gray;
      vertical-align: bottom;
      font-size: 9px;
      font-weight: normal;
      padding-bottom: 10px;
    }
  }

  &__heading-group {
    width: 20px;
    padding-right: 10px !important;
  }

  &__heading-group-size {
    width: 100px;
  }

  &__heading-conversion {
    width: 100px;
  }

  &__heading-conversion-rate {
    width: 50px;
  }

  &__needed-group-size,
  &__delta-conversion {
    font-size: 10px;
    color: $color-gray;
    white-space: nowrap;
    height: 14px;
  }

  &__group {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;

    &.--a {
      .is-winner-a & {
        color: #48B711;
      }
    }

    &.--b {
      .is-winner-b & {
        color: #48B711;
      }
    }
  }

  &__result {
    box-sizing: border-box;
    font-size: 14px;
    float: right;
    width: 220px;
    padding-top: 25px;
    padding-left: 30px;
  }

  &__settings {
    box-sizing: border-box;
    width: 240px;
    padding: 30px 45px 20px 40px;
    background: #EEFCFF;
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    transform-origin: right;
    transition: all .3s ease-in-out;
    pointer-events: none;

    h3 {

    }

    .is-settings-opened & {
      pointer-events: auto;
      transform: translateX(0);
    }
  }

  &__settings-row {
    clear: both;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;

    label {
      color: $color-gray;
      display: block;
      font-size: 9px;
      width: 85px;
    }
  }

  &__settings-value {

  }

  &__settings-field {
    width: 50px;
  }

  &__settings-percent {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
  }

  &__settings-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('./settings.svg') 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;

    .is-settings-opened & {
      background-image: url('./close.svg');
    }
  }

  &__mark {
    color: $color-red;
  }

  &.is-winner-a {

  }

  &.is-winner-b {

  }
}

body {
  padding: 30px;
}
